{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row fill-up container-row" style="margin-left: 0px;">

        <!-- Emotion Panel -->
        <div class="col-md-2 no-spacing">
            <div class="panel emotion-panel">
                <div class="emotion-content">

                    <h3 class="mb-4 text-center"">Emotion Status</h3>
                    <hr class="panel-divider">

                    <div class="emotion-state-wrapper">
                        <div class="emotion-name-wrapper">
                            <label class="small" for="primary-emotion" style="color: #FF851B;">PRIMARY EMOTION</label>
                            <h3 id="primary-emotion" style="font-family: 'Alegreya';" class="primary-emotion-para font-italic font-italic text-muted">N/A</h3>
                        </div>
                        <div class="emotion-name-wrapper">
                            <label class="small" for="enhanced-emotion" style="color: #FF851B;">ENHANCED EMOTION</label>
                            <h3 id="enhanced-emotion" style="font-family: 'Alegreya';" class="enhanced-emotion-para font-italic text-muted">N/A</h3>
                        </div>
                    </div>

                    <div class="text-center">
                        <button id="clear-genres" class="btn btn-danger">Reset</button>
                        <button id="get-genres" class="btn btn-primary">Get Content</button>
                    </div>

                    <div class="emotion-prob-wrapper">
                        <div class="emotion-header-wrapper">
                            <span class="blink">⬤</span><span class="text-center emotion-header">Current State</span>
                        </div>
                        <div class="emotion">
                            <label class="emotion-label" for="happy-prob">HAPPY : </label>
                            <span class="emotion-prob"><span id="happy-prob">0</span> %</span>
                        </div>
                        <div class="emotion">
                            <label class="emotion-label" for="sad-prob">SAD : </label>
                            <span class="emotion-prob"><span id="sad-prob">0</span> %</span>
                        </div>
                        <div class="emotion">
                            <label class="emotion-label" for="angry-prob">ANGRY : </label>
                            <span class="emotion-prob"><span id="angry-prob">0</span> %</span>
                        </div>
                        <div class="emotion">
                            <label class="emotion-label" for="calm-prob">CALM : </label>
                            <span class="emotion-prob"><span id="calm-prob">0</span> %</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- Emotion Panel END-->

        <!-- Content Panel -->
        <div class="col-md-7 text-center no-spacing">
            <nav>
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" style="color: white;" id="nav-predict-tab" data-toggle="tab" href="#nav-predict" role="tab" aria-controls="nav-predict" aria-selected="true">Predict</a>
                    <a class="nav-item nav-link" style="color: white;" id="nav-content-tab" data-toggle="tab" href="#nav-content" role="tab" aria-controls="nav-content" aria-selected="false">Content</a>
                </div>
            </nav>
            <div class="tab-content fill-up panel content-panel" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-predict" role="tabpanel" aria-labelledby="nav-predict-tab">
                    
                            <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="pills-speech-tab" data-toggle="pill" href="#pills-speech" role="tab" aria-controls="pills-speech" aria-selected="true">Speech</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="pills-expression-tab" data-toggle="pill" href="#pills-expression" role="tab" aria-controls="pills-expression" aria-selected="false">Expression</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="pills-choice-tab" data-toggle="pill" href="#pills-choice" role="tab" aria-controls="pills-choice" aria-selected="false">Choice</a>
                                </li>
                            </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-speech" role="tabpanel" aria-labelledby="pills-speech-tab">
                                        
                                        <div class="row">
                                            <div class="audio-record-wrapper col-md-5">
                                                <h3 class="form-header mb-4">Record Audio</h3>
                                                <hr class="panel-divider" style="color:#FF851B;">
                                                <div id="controls">
                                                    <button id="recordButton" class="controlButton btn btn-primary">Record</button>
                                                    <button id="pauseButton" class="controlButton btn btn-warning" disabled>Pause</button>
                                                    <button id="stopButton" class="controlButton btn btn-danger" disabled>Stop</button>
                                                </div>
                                                <div id="formats">
                    
                                                </div>
                                                <p class="audio-record-info">
                                                    Recordings:
                                                </p>
                                                <div id="recordingsList" class="audio-record-list">
                    
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                            </div>
                                            
                                            <div class="audio-input-wrapper col-md-5">
                                                <h3 class="form-header mb-4">Upload Audio</h3>
                                                <hr class="panel-divider" style="color:#FF851B;">
                                                <form id="audio-input-form" method="post" action="/speech-emotion" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="audio-input-form">
                                                        <div class="btn btn-primary audio-input-field">
                                                            <input type="file" name="audio-file" id="audio-input" autocomplete="off" required>
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit" id="audio-submit" class="btn btn-success">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="audio-emotion-holder" class="hide">
                                                    <div class="emotion-holder text-center">
                                                        <div class="form-header mb-2 mt-2">
                                                            Emotion Log
                                                        </div>
                                                        <div class="row text-center emotion-state-row">
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Happy : </span>
                                                                    <span id="audio-happy-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Sad : </span>
                                                                    <span id="audio-sad-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Angry : </span>
                                                                    <span id="audio-angry-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Calm : </span>
                                                                    <span id="audio-calm-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                
                                    </div>

                                    <div class="tab-pane fade text-center" id="pills-expression" role="tabpanel" aria-labelledby="pills-expression-tab">
                                        <div class="video-input-wrapper text-center">
                                            <h3 class="form-header mb-4 mt-2">Record Video</h3>
                                            <hr class="panel-divider" style="color:#FF851B;">
                                            <div class="video-camera-status">
                                                <span>Camera Status : </span><span id="camera-status">N/A</span>
                                            </div>
                                            <div class="video-recording-status">
                                                <span>Recording Status : </span><span id="record-status" style="color: #FF4136;">Not Recording</span>
                                                <span id="progress-bar" class="progress-bar"><span id="bar" class="bar"></span></span>
                                            </div>
                                            <div class="text-center" style="margin-bottom: 1rem; margin-top: 1.5rem;">
                                                <button id="record-video" class="btn btn-success">Record Video</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="video-emotion-holder" class="hide">
                                                    <div class="emotion-holder text-center">
                                                        <div class="form-header mb-2 mt-2">
                                                            Emotion Log
                                                        </div>
                                                        <div class="row text-center emotion-state-row">
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Happy : </span>
                                                                    <span id="video-happy-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Sad : </span>
                                                                    <span id="video-sad-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Angry : </span>
                                                                    <span id="video-angry-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Calm : </span>
                                                                    <span id="video-calm-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="pills-choice" role="tabpanel" aria-labelledby="pills-choice-tab">
                                        <div class="emotion-form-wrapper">
                                            <h3 class="form-header mb-4 mt-2">Emotion Input Form</h3>
                                            <hr class="panel-divider" style="color:#FF851B;">
                                            <form id="emotion-input-form">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="" style="color: #FF851B;" for="primary-emotion-sel">DOMINANT EMOTION</label>
                                                        <select class="form-control" id="primary-emotion-sel">
                                                            <option value="happy">Happy</option>
                                                            <option value="sad">Sad</option>
                                                            <option value="angry">Angry</option>
                                                            <option value="calm">Calm</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="" style="color: #FF851B;" for="primary-emotion-sel">UNDERLYING EMOTION</label>
                                                        <select class="form-control" id="enhanced-emotion-sel">
                                                            <option value="null">None</option>
                                                            <option value="happy">Happy</option>
                                                            <option value="sad">Sad</option>
                                                            <option value="angry">Angry</option>
                                                            <option value="calm">Calm</option>
                                                        </select>
                                                    </div>
                                                    <!-- <div class="form-group col-md-3">
                                                        <label for="emotion-input-happy">Happy</label>
                                                        <input type="number" class="form-control" id="emotion-input-happy" placeholder="Enter Percentage">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="emotion-input-sad">Sad</label>
                                                        <input type="number" class="form-control" id="emotion-input-sad" placeholder="Enter Percentage">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="emotion-input-angry">Angry</label>
                                                        <input type="number" class="form-control" id="emotion-input-angry" placeholder="Enter Percentage">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="emotion-input-calm">Calm</label>
                                                        <input type="number" class="form-control" id="emotion-input-calm" placeholder="Enter Percentage">
                                                    </div> -->
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit" id="emotion-submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="form-emotion-holder" class="hide">
                                                    <div class="emotion-holder text-center">
                                                        <div class="form-header mb-2 mt-2">
                                                            Emotion Log
                                                        </div>
                                                        <div class="row text-center emotion-state-row">
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Happy : </span>
                                                                    <span id="form-happy-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Sad : </span>
                                                                    <span id="form-sad-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Angry : </span>
                                                                    <span id="form-angry-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-center">
                                                                <div class="emotion-state-holder">
                                                                    <span class="emotion-state-name">Calm : </span>
                                                                    <span id="form-calm-state-value">0 %</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                </div>
                <div class="tab-pane fade" id="nav-content" role="tabpanel" aria-labelledby="nav-content-tab">
                    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-music-tab" data-toggle="pill" href="#pills-music" role="tab" aria-controls="pills-music" aria-selected="true">Music</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-videos-tab" data-toggle="pill" href="#pills-videos" role="tab" aria-controls="pills-videos" aria-selected="false">Videos</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">News</a>
                        </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-music" role="tabpanel" aria-labelledby="pills-music-tab">
                                <ul class="mt-4 music-list no-bullet" id="music-list">
                                    
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="pills-videos" role="tabpanel" aria-labelledby="pills-videos-tab">
                                <ul class="mt-4 no-bullet" id="videos-list">
                                    
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
                                <ul class="mt-4 no-bullet" id="news-list">

                                </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- Content Panel END-->

        <!-- Genre Panel -->
        <div class="col-md-3 no-spacing">
            <div class="panel genre-panel">
                <div class="genre-content">
                    <div class="genre-title">
                        <h3 class="mb-4 text-center"">Genres</h3>
                        <hr class="panel-divider">
                    </div>

                    <div class="genre-list-wrapper">
                        <h5 class="genre-head""><span class="genre-icon"><i class="fa fa-music"></i></span>Music Genres</h5>
                        <div class="genre-filler text-muted" id="genre-filler">No genres predicted</div>
                        <ul id="music-genre-list">

                        </ul>
                        <h5 class="genre-head"><span class="genre-icon"><i class="fa fa-video-camera"></i></span>Video Genres</h5>
                        <div class="genre-filler text-muted" id="genre-filler">No genres predicted</div>
                        <ul id="video-genre-list">

                        </ul>
                        <h5 class="genre-head"><span class="genre-icon"><i class="fa fa-newspaper-o"></i></span>News Genres</h5>
                        <div class="genre-filler text-muted" id="genre-filler">No genres predicted</div>
                        <ul id="news-genre-list">

                        </ul>
                    </div>
                    <div id="genre-loader-wrapper">
                        <div id="genre-loader" class="genre-loader hide">
                            <span><img class="genre-loader-spinner" src="{% static 'recommender/img/spinner.gif' %}" alt="Spinner-GIF"></span>
                            <span class="genre-loader-status">Fetching Genres</span>   
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Genre Panel END-->

    </div>

{% endblock content %}